.header{
    display: flex;
    justify-content: center;
}
.choose {
    width: 600px;
    background: #fff;
    margin: auto;
    height: 210px;
    display: grid;
    align-content: center;
    box-shadow: 1px 1px 18px -4px #00000054;
    border-radius: 10px;
    position: relative;
}
.background{
    height: 100vh;
    width: 100%;
    background-color: #00000057;
    display: flex;
    place-content: center;
}